<div class='top-container'>
    <div class='container'>
        <img class='logo' src="../../assets/images/logo transparente.png">
    </div>
   
    <div class='intro-text'>
        <div class='empty-container'></div>
        <div>
            <img src="../../assets/images/People wakin.png">
            <p class='intro-paragraph'>Denunciar puede 
                ser confuso, por eso 
                ¡Házlo con <span style="font-weight: 1000;">dati</span>!</p>
            <p class='intro-paragraph2'>Denuncia, conociendo tu proceso. Con este chat tú experiencia en la fiscalía será transparente e igualitario.</p>
        </div>
    </div>
</div>